label {
  padding: 0.5rem 0;
  color: #75787d;
  font-size: 12px;
  text-transform: uppercase;
}
input + label {
 padding: 0;
}

.btn-success {
  margin-left: 10px;
  padding: 5px 10px;
}
.btn-danger {
  margin-left: 10px;
  padding: 5px 10px;
}
.text-danger {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}
