<div class="go-back-button ml-3" [routerLink]="['/products']">
  <div><i class="bi bi-arrow-left-short"></i>
    {{ 'Go back' | translate }}</div>
</div>
<div class="col-md-12 text-primary">
  <h2 *ngIf="addMode" class="text-center mt-4">
    {{"Add new album" | translate}}
  </h2>
  <h2 *ngIf="!addMode" class="text-center mt-4">
    {{"Edit album"  | translate}}
  </h2>
</div>


<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-content  m-4">
        <form (keydown.enter)="$event.preventDefault()" [formGroup]="albumForm" (ngSubmit)="onSubmit()" class="form">
          <div class="form-body px-3">
            <div class="form-group my-4">
              <label for="albumName">{{'Album Name'  | translate}}</label>
              <input appInputTrim formControlName="name" class="form-control w-75" type="text" id="albumName" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <span class="invalid-feedback" *ngIf="submitted && f.name.errors?.required &&  !f.name.errors.cantContainOnlyWhitespace">{{'Album name is required'}}</span>
              <span class="invalid-feedback" *ngIf="submitted && f.name.errors?.cantContainOnlyWhitespace ">{{'Album name may not consist solely of whitespaces'}}</span>
            </div>
            <div class="form-group my-4">
              <label for="author">{{'Author Name'  | translate}}</label>
              <input appInputTrim formControlName="author" class="form-control w-75" type="text" id="author" [ngClass]="{ 'is-invalid': submitted && f.author.errors }">
              <span class="invalid-feedback" *ngIf="submitted && f.author.errors?.required && f.author.errors.cantContainOnlyWhitespace ">Author name is required</span>
              <span class="invalid-feedback" *ngIf="submitted && f.author.errors?.cantContainOnlyWhitespace ">{{'Author name may not consist solely of whitespaces'}}</span>
            </div>
            <div class="form-group my-4">
              <label for="releaseDate">{{'Release Date'  | translate}}</label>
              <input formControlName="releaseDate" class="form-control w-75" type="date" id="releaseDate" [ngClass]="{ 'is-invalid': submitted && f.releaseDate.errors }">
              <span class="invalid-feedback" *ngIf="submitted && f.releaseDate?.errors ">{{'Release date is required'}}</span>
            </div>
            <div class="form-check my-4">
              <input formControlName="isBest" class="form-check-input" type="checkbox" id="isBestOfBest">
              <label for="isBestOfBest">{{'Best of the best' | translate}}</label>
            </div>
            <div class=" form-group my-4">
              <label for="song">{{'Song List' | translate}} <button type="button" class="btn btn-success" (click)="addSong()"><i class="bi bi-plus"></i></button></label>
              <div formArrayName="songList" >
              <div class="my-4"  *ngFor="let song of songList.controls let i = index">
                <div class="d-flex">
                  <label for="song">{{i + 1 + '.'}}</label>
                  <input appInputTrim [formControlName]="i.toString()" class="form-control mx-2 w-75" type="text" id="song" [ngClass]="{ 'is-invalid': submitted && song.hasError('required') }"><button (click)="deleteSong(i)" class="btn btn-danger"><i class="bi bi-dash"></i></button>
                </div>
                <span class="text-danger mx-4" *ngIf="submitted && (song.hasError('required') || song.hasError('cantContainOnlyWhitespace'))">{{'Song name cannot be empty' | translate}}</span>
              </div>
              </div>
            </div>
            <button  type="submit" class="btn btn-primary">{{'Submit' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
